/* Reset de estilos */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
form,
fieldset,
legend,
input,
textarea,
button {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #f9f9f9;
	margin: 1.5rem;
}

.container {
	width: 80%;
	margin: 0 auto;
}

/* Estilos para los botones */
button,
.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
	transition: background-color 0.3s;
}

button:hover,
.button:hover {
	background-color: #0056b3;
}

/* Estilos para los enlaces */
a {
	color: #007bff;
	text-decoration: none;
	transition: color 0.3s;
}

a:hover {
	color: #0056b3;
}

/* Estilos para la tabla */
table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: 8px;
	border-bottom: 1px solid #ddd;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}
